.Question{
  margin-top: 20px;
}

.question-box__text-container {
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  display: flex;
  background: var(--bg-1);
  padding: 0px 60px;
  height: 100px;
  transition: 0.5s;
  z-index: -1;
  align-items: center;
  justify-content: space-between;
}

.question-box__flag{
  clip-path: polygon(90% 0%, 100% 0%, 95% 100%, 85% 100%);
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0;
  background: var(--color-3);
  z-index: 2;
}

.text-container__text{
  font-size: 15px;
  display: block;
  align-items: center;
  color : var(--color-1);
  z-index: 1;
  padding-right: 45px;
  width: 100%;
  text-align: center;
}

.question__quotes{
  font-size: 70px;
  color : var(--color-1);
  padding: 0% 0%;
  position: absolute;
  z-index: 2;
}

.question__quotes--open{
  left: 5%;
  margin-top: -30px;
}

.question__quotes--close{
  left: 80%;
  margin-top: -22px;
}
