* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Mundo";
  src: url("./Mundo Sans Std Bold.otf");
  font-weight: 500;
}
  
.Guidelines {
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  height : 100%;
	width : 100%;
  background: var(--bg-2);
}

.OneGuideline {
    display: flex;
    background: var(--color-3);
    padding: 20px;
    flex: 100px;
    text-align: center;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.OneGuideline__text{
    color : var(--bg-2);
    font-family: "Mundo";
}

.Instruction {
    display: flex;
    background: var(--bg-2);
    padding: 20px;
    text-align: left;
    flex : 50%;
    font-size: 12px;
    align-items: center;
}

.Instruction__text{
    color : var(--default);
}

.Timer {
    display: flex;
    flex-direction: column;
    background: var(--bg-2);
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.Timer__text{
    color : var(--default);
    font-size: 12px;
}

.material-icons{
    padding : 5px;
    color : var(--default);
}
  
/* Responsive layout*/
@media (max-width: 650px) and (min-height: 150px){
    .OneGuideline , .Question, .Timer  {
        flex: 100%;
        justify-content: center;
        align-items: center;
    }
    .Guidelines{
        flex-wrap:wrap;
    }
    .OneGuideline {
        height: 80px;
    }
    .OneGuideline__text, .Question__text {
        align-self: none;
    }
}


