/* GLOBAL CSS 
 * This file contains all the CSS rules
 * that are common across the entire project.
 * These classes follow the idea of Atomic CSS.
*/

/* Monaco is the default font of VSCode */
@font-face {
  font-family: "Monaco";
  src: url("./Monaco.woff");
  font-weight: 500;
}


/* ******** VARIABLES ******** */
/* COLORS */
:root {
  /* Background colors */
  --bg-1: #1E1E1E; /* default vscode: very dark grey */
  --bg-2: #252526; /* default vscode: dark grey */
  --bg-3: #333332; /* default vscode: grey */

  /* Base text colors */
  --default: #D4D4D4; /* default vscode: very light grey */
  --default-faded: #b858585; /* default vscode: light grey */

  /* Other colors */
  --color-1: #CB8868; /* default vscode: orange */
  --color-2: #99D2E5; /* default vscode: lightblue */
  --color-3: #569CD6; /* default vscode: blue */
  --color-4: #5E8B4D; /* default vscode: green */
} 
/* *************************** */


/* ********* GENERAL ********* */
* {
  padding: 0;
  margin: 0;
  font-family: "Monaco", monospace;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
}
/* *************************** */


/* ******* FONT CLASSES ****** */
.is-serif {
  font-family: serif;
}

.is-sans-serif {
  font-family: sans-serif;
}
/* *************************** */


/* **** UTILITARY CLASSES **** */
.is-hidden {
  opacity: 0;
}
/* *************************** */
