.menu {
 background: var(--bg-2); 
 box-shadow: 0px 5px 15px rgba(128, 128, 128, 3);
 margin-bottom: 50px;
}

.home-nav {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.menu a {
  color: var(--color-2);
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
}

.list__element {
  margin: 10px;
}

.list__element--active a {
  color: var(--color-1);
  font-weight: bold;
}
