.Survey{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: auto;
}

.survey__box{
    align-items: stretch;
    background: var(--color-3);
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.survey-text{
    color : var(--bg-2);
    font-family: "Monaco";
    font-size: 22px;
    font-weight: 600;
}

.option-box{
    display: table-column;
    align-items: center;
    background: var(--bg-2);
    padding: 30px;
    padding-top: 35px;
    font-family: "Monaco";
    flex : 50%;
}

.option-label{
    flex-grow: 1;
}

.option-text{
    color : var(--default);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.progressBar{
    height: 28px;
    width: 100%;
    background: var(--color-3);
    border-radius: 25px;
    margin: 21px;
    text-align: center;
    font-family: "Monaco";
}

@media screen and (max-width: 650px){
    .Survey {
        flex-direction: column;
        flex: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .survey__box, .option-box{
        width: 100%
    }
    .suvery-text, .option-text {
        align-self: none;
    }
}

