/*default state of a circle*/
.PresenceCircle {
  background: var(--default);
  margin: 10px;
  height: 25px;
  width:  25px;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}
/*state after the present command has been called*/
.PresenceCircle--present {
  background: var(--color-3);
}

.PresenceGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: 0.5s;
}