* {
  box-sizing: border-box;
}
  
.Summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--bg-2);
}

.SummaryElement{
  display: flex;
  color: var(--default);
  text-align: left;
  font-size: 16px;
  padding: 20px;
  height: 40px;
}

.SummaryElement--covered{
  color: var(--color-1);
}
