.HourComponent {
  text-align: center;
  background: var(--bg-2);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  border: solid var(--color-3) 3px;
  color: var(--default);
}

.Hour__text--animated-ringing {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
